<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body bgcolor="#00ffff">
<h1 align="center" th:text="'歡迎來到我的書店 ' + ${BookSoreName}"></h1>
<form action="#" th:action="@{welcome}" th:object="${register}" method="post">
    <table align="center" style="background-color:darkgrey">
        <tr>
            <td align="center" colspan="5">加入會員</td>
        <tr>
            <td>請輸入電子郵件</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>請輸入密碼</td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td>請輸入姓名</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="註冊"></td>
        </tr>
    </table>
</form>
</body>
</html>